body {
   font-family: 'Roboto', sans-serif;
   background-color: #F4F5F7;
   box-sizing: border-box;
}

.tituloNavBar {
   color: white;
   background-color: #0000FF;
   cursor: pointer;
   padding: 0 20px 10px 20px;
   margin-left: -30px;
   height: 4.3vh;
}

#menu {
   z-index: 2;
}

#menu-bar {
   width: 45px;
   height: 40px;
   margin: 30px 0 20px 20px;
   cursor: pointer;
}

.bar {
   height: 5px;
   width: 100%;
   background-color: #0000FF;
   display: block;
   border-radius: 5px;
   transition: 0.3s ease;
}

#bar1 {
   transform: translateY(-4px);
}

#bar3 {
   transform: translateY(4px);
}

.nav {
   transition: 0.3s ease;
   display: none;
   background-color: #0000FF;
}

.nav ul {
   padding: 0 22px;
}

.nav li {
   list-style: none;
   padding: 9px 0;
   color: white;
   background-color: #0000FF;
   margin-left: -30px;
   padding-left: 20px;
}

.nav li a {
   color: white;
   font-size: 20px;
   text-decoration: none;
   background-color: #0000FF;
}

.nav li a:hover {
   font-weight: bold;
}

.menu-bg,
#menu {
   top: 0;
   left: 0;
   position: absolute;
}

.menu-bg {
   z-index: 1;
   width: 0;
   height: 0;
   margin: 30px 0 10px 10px;
   background: #0000FF;
   transition: 0.3s ease;
   padding-left: 90px;
}

.change {
   display: block;
}

.change .bar {
   background-color: white;
}

.change #bar1 {
   transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
   opacity: 0;
}

.change #bar3 {
   transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
   width: 520px;
   height: 460px;
   transform: translate(-60%, -30%);
}

.sidebar__logout {
   padding: 10px;
   color: #e65061;
   width: 150%;
   height: 50%;
}

.botaoPower {
   color: white;
   text-decoration: none;
   padding-left: 5px;
   font-size: 1.6em;
   font-family: 'Roboto', sans-serif;
}